<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <ResourcePreloader />
    <link rel="stylesheet" href="@Assets["app.css"]" />
    <link rel="stylesheet" href="@Assets["BlazorCalendar.Demo.styles.css"]" />
    <link rel="stylesheet" href="_content/BlazorCalendar/css/calendar.css" />
    <ImportMap />
    <HeadOutlet />
</head>

<body>
    <Routes />
    <script src="@Assets["_framework/blazor.web.js"]"></script>
    <script src="_content/BlazorCalendar/js/calendar-interop.js"></script>
</body>

</html>
