@foreach (var (group, groupIndex) in GroupedEvents.Select((g, i) => (g, i)))
{
    @foreach (var ev in group)
    {
        var style = CalendarHelpers.GetEventBlockStyle(ev, Day, groupIndex, GroupedEvents.Count);

        var hasOverlap = GroupedEvents.Where((g, i) => i != groupIndex)
            .Any(otherGroup => otherGroup.Any(other =>
                ev.StartDate < other.EndDate && ev.EndDate > other.StartDate));

        var width = hasOverlap ? style.WidthPercent : 100.0;
        var left = hasOverlap ? style.LeftPercent : 0.0;

        <div style="position:absolute;top:@(style.TopPx.ToString("F2", System.Globalization.CultureInfo.InvariantCulture))px;width:@(width.ToString("F2", System.Globalization.CultureInfo.InvariantCulture))%;left:@(left.ToString("F2", System.Globalization.CultureInfo.InvariantCulture))%;z-index:2;">
            <EventBlock Event="ev" OnSelected="OnEventSelected" />
        </div>
    }
}

@code {
    [Parameter] public List<List<CalendarEvent>> GroupedEvents { get; set; } = [];
    [Parameter] public DateTime Day { get; set; }
    [Parameter] public EventCallback<CalendarEvent> OnEventSelected { get; set; }
}
