@namespace BlazorCalendar

@{
    var cells = BlazorCalendarHelpers.GetCalendarCells(State.SelectedDate, State.Culture);
    var allEvents = MultiDayEvents.Concat(SingleDayEvents).ToList();
    var eventPositions = BlazorCalendarHelpers.CalculateMonthEventPositions(MultiDayEvents, SingleDayEvents, State.SelectedDate, State.Culture);
    var weekDayHeaders = BlazorCalendarHelpers.GetWeekDayHeaders(State.Culture);
}

<div class="cal-month">
    <div class="cal-month-header">
        @foreach (var day in weekDayHeaders)
        {
            <div class="cal-month-header-cell">@day</div>
        }
    </div>

    <div class="cal-month-grid">
        @foreach (var cell in cells)
        {
            <DayCell Cell="cell" Events="allEvents" EventPositions="eventPositions" />
        }
    </div>
</div>

@code {
    [CascadingParameter] public BlazorCalendarState State { get; set; } = default!;
    [Parameter] public List<BlazorCalendarEvent> SingleDayEvents { get; set; } = [];
    [Parameter] public List<BlazorCalendarEvent> MultiDayEvents { get; set; } = [];
}
