@namespace BlazorCalendar

<span class="cal-bullet @BlazorCalendarHelpers.GetBgColorCss(Color)"></span>

@code {
    [Parameter] public BlazorCalendarEventColor Color { get; set; } = BlazorCalendarEventColor.Blue;
}
