@namespace BlazorFullCalendar

<div class="bfc-time-column">
    @for (int h = 0; h < 24; h++)
    {
        var hour = h;
        <div class="bfc-time-slot-label">
            @if (hour > 0)
            {
                @BlazorFullCalendarHelpers.FormatHourLabel(hour, State.Use24HourFormat)
            }
        </div>
    }
</div>

@code {
    [CascadingParameter] public BlazorFullCalendarState State { get; set; } = default!;
}

